<tr>
		<td><%=product.name%></td>
		<td><%=product.model%></td>
	      <td><%=product.brand%></td>
	      <td><%=product.year%></td>
	      <td><%=product.ram%></td>
	      <td><%=product.externalStorage%></td>
	</tr>	